html{
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
  background: #2c3e50;
  color: #333;
}

.navbar {
  background: #2c3e50;
  padding: 12px 0;
  position: sticky;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
}

.nav-links li a:hover {
  background: #1abc9c;
  color: #fff;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background: #16a085;
  color: white;
}

.header h1 {
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10%;
}

.section {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.biography-section {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.biography-section h2{
    text-align: center;
}

.bio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bio-container p {
  flex: 2;
  text-align: center;
}

.bio-container figure {
  flex: 1;
  text-align: center;
}

.bio-container img {
  border-radius: 8px;
  width: 200px;
  margin: 5px;
}


.achievement-section{
    display: flex;
    gap: 15px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #000000;
  padding: 10px;
}

table th {
  background: #2c3e50;
  color: white;
  text-align: center;
}

table td{
    text-align: center;
}



.footer {
  text-align: center;
  background: #16a085;
  color: white;
  padding: 15px;
  margin-top: 30px;
}

.contact a{
    text-decoration: none;
    color: white;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

